<div class="container d-flex" style="max-width: 500px;">
  <div class="column col mt-5">

    <div class="text-center">
      <p class="text-danger" style="display: inline;">*必填欄位</p>
      <h3 style="display: inline;">請修改你的支出</h3>
    </div>

    <form action="/record/{{record._id}}?_method=PUT" method="post">

      <div class="form-group mt-5 ml-5">
        <label for="">名稱*：</label>
        <input type="text" class="form-control-lg" placeholder="請輸入開銷名稱" name="name" value="{{record.name}}" required>
      </div>

      <div class="form-group mt-5 ml-5">
        <label for="date">日期*：</label>
        <input type="date" class="form-control-lg" placeholder="date" name="date" value="{{record.date}}" required>
      </div>

      <div class="mt-5 ml-5">
        <label for="">類別*：</label>
        <select name="category" id="options" class="form-control-lg">
          <option value="fas fa-home" {{#if (compare record.category 'fas fa-home')}} selected {{/if}}>家居物業</option>
          <option value="fas fa-shuttle-van" {{#if (compare record.category 'fas fa-shuttle-van')}} selected {{/if}}>
            交通出行 </option>
          <option value="fas fa-grin-beam" {{#if (compare record.category 'fas fa-grin-beam')}} selected {{/if}}>休閒娛樂
          </option>
          <option value="fas fa-utensils" {{#if (compare record.category 'fas fa-utensils')}} selected {{/if}}>餐飲食品
          </option>
          <option value="fas fa-pen" {{#if (compare record.category 'fas fa-pen')}} selected {{/if}}>其他</option>
          </optgroup>
        </select>
      </div>

      <div class="form-group mt-5 ml-5">
        <label for="">金額*：</label>
        <input type="Number" class="form-control-lg" placeholder="請輸入金額" name="amount" value="{{record.amount}}"
          required>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-info btn-lg mt-5">送出</button>
      </div>

    </form>

  </div>

</div>