<div class="container d-flex" style="max-width: 500px;">
  <div class="column col mt-5">

    <div class="text-center">
      <p class="text-danger" style="display: inline;">*必填欄位</p>
      <h3 style="display: inline;">請輸入你的支出</h3>
    </div>

    <form action="/new" method="post">

      <div class="form-group mt-5 ml-5">
        <label for="name">名稱*：</label>
        <input type="text" class="form-control-lg" placeholder="請輸入開銷名稱" name="name" required>
      </div>

      <div class="form-group mt-5 ml-5">
        <label for="date">日期*：</label>
        <input type="date" class="form-control-lg" placeholder="date" name="date" required>
      </div>

      <div class="mt-5 ml-5">
        <label for="category">類別*：</label>
        <select name="category" id="options" class="form-control-lg">
          <option value="fas fa-home">家居物業</option>
          <option value="fas fa-shuttle-van">交通出行 </option>
          <option value="fas fa-grin-beam">休閒娛樂</option>
          <option value="fas fa-utensils">餐飲食品</option>
          <option value="fas fa-pen">其他</option>
          </optgroup>
        </select>
      </div>

      <div class="form-group mt-5 ml-5">
        <label for="amount">金額*：</label>
        <input type="Number" class="form-control-lg" placeholder="請輸入金額" name="amount" required>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-info btn-lg mt-5">新增支出</button>
      </div>

    </form>

  </div>

</div>